/* Ogólny styl dla strony */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
}

/* Kontener główny */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.control-section.column-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.work-time-info {
    flex: 1;
}

.short-datepicker {
    flex-shrink: 0;
    margin-left: auto; /* Wypycha DatePicker na prawo */
}

    .short-datepicker .e-datepicker {
        width: 250px !important; /* Ograniczenie szerokości kontrolki */
    }

.work-time-info label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Nagłówki */
.header-text {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}



/* Skrócona szerokość dla SfDatePicker */
.short-datepicker .e-datepicker {
    width: 250px !important; /* Ograniczenie szerokości kontrolki */
}

/* Tabela godzin pracy */
.sf-grid {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

    .sf-grid .e-headercell,
    .sf-grid .e-rowcell {
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }

.e-grid .e-headercell {
    background-color: #DBE2EF !important;
}

.e-grid .e-headercell, .e-grid .e-detailheadercell {
    background-color: #DBE2EF;
}

/* Tosty */
.sf-toast {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Responsywność */
@media (max-width: 768px) {
    .control-section {
        flex-direction: column;
        gap: 10px;
    }

    .sf-grid {
        width: 100%;
    }
}
