@page "/AddSchedule/{ParamID}"


<link rel="stylesheet" href="css/AddSchedule.css">

@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using engineering_project_front.Models.Request;
@using engineering_project_front.Models.Responses;

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Dodaj Grafik</h3>

    <!-- Formularz tworzenia grafiku -->
    <EditForm Model="@Schedule" OnValidSubmit="HandleValidSubmit" class="schedule-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-grid">
            <!-- Data -->
            <div class="form-field">
                <SfDatePicker TValue="DateTime" @bind-Value="Schedule.Date" Min="@minDate" Placeholder="Wybierz dzień" FloatLabelType="FloatLabelType.Auto"></SfDatePicker>
            </div>

            <!-- Ilość godzin -->
            <div class="form-field">
                <SfNumericTextBox TValue="int" @bind-Value="Schedule.HoursAmount" Placeholder="Ilość godzin do wyrobienia" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
            </div>

            <!-- Przyciski -->
            <div class="form-buttons">
                <SfButton CssClass="e-flat" IsPrimary="true" type="submit">Utwórz grafik</SfButton>
                <SfButton CssClass="e-flat" @onclick="Cancel">Anuluj</SfButton>
            </div>
        </div>
    </EditForm>

    <!-- Toast z powiadomieniami -->
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
</div>

