@page "/auth-error"

<div class="center">
    <h1 class="text-danger">Brak dostępu</h1>
    <p class="text-danger">Nie masz uprawnień, by wejść na tą stronę</p>
    <p>
        <img src="Images/notAuthorizedPhoto.jpg" title="notAuthorized" width="350" height="600">
    </p>
</div>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
</style>