@page "/forgot-password"

<link rel="stylesheet" href="css/ForgotPassword.css">
@layout NotLoggedLayout

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Zapomniałeś hasła?</h3>

    <!-- Formularz resetowania hasła -->
    <div class="forgot-password-form">
        <!-- Pole email -->
        <div class="form-field">
            <SfTextBox Placeholder="Email" @bind-Value="mail" FloatLabelType="FloatLabelType.Always"></SfTextBox>
        </div>

        <!-- Przyciski akcji -->
        <div class="form-buttons">
            <SfButton Disabled ="isButtonDisabled" IsPrimary="true" OnClick="OnSendButtonClicked">Wyślij kod</SfButton>
            <SfButton Disabled ="isButtonDisabled" CssClass="e-flat" OnClick="OnBackToLoginClicked">Wróć do logowania</SfButton>
        </div>
    </div>

    <!-- Toast powiadomień -->
    <SfToast ID="toast_default" @ref="ToastObj" Title="@ToastTitle" Content="@ToastContent" CssClass="e-toast-info" Timeout="5000">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>
</div>
