@page "/home"
@implements IDisposable

@using engineering_project_front.Services.Interfaces

@using Syncfusion.Blazor.Buttons

<PageTitle>Strona g³ówna</PageTitle>

<h1>Witaj, @firstName @lastName!</h1>

<div>
<div>Czas pracy: @workTime</div>
<div>Twoja przerwa: @breakTime</div>
</div>

<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
    <SfButton CssClass="e-success" Disabled="workStartDisabled" OnClick="OnWorkStartClick">Zacznij pracê</SfButton>
    <SfButton CssClass="e-danger" Disabled="workEndDisabled" OnClick="OnWorkEndClick">Zakoñcz pracê</SfButton>
</div>

<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
    <SfButton CssClass="e-success" Disabled="breakStartDisabled" OnClick="OnBreakStartClick">Rozpocznij przerwê</SfButton>
    <SfButton CssClass="e-danger" Disabled="breakEndDisabled" OnClick="OnBreakEndClick">Zakoñcz przerwê</SfButton>
</div>


