@page "/home"
@using engineering_project_front.Services.Interfaces

<PageTitle>Strona g³ówna</PageTitle>

<!--It's all temporary-->
<h1>Witaj, @firstName @lastName!</h1>
<div>Twój email: @email</div>
<div>Nazwa twojego zespo³u: @team</div>
<div>Twój kierownik: @manager</div>
<div>Twoja rola: @role</div>
