@page "/"

<link rel="stylesheet" href="css/Login.css">

@layout NotLoggedLayout

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications

<div class="container">
    <!-- Nagłówek strony -->
    <h2 class="header-text">Strona logowania</h2>
    <h3 class="header-text">Smart Manager</h3>

    <!-- Formularz logowania -->
    <div class="login-form">
        <!-- Pole email -->
        <div class="form-field">
            <SfTextBox Placeholder="Email" @bind-Value="@login" FloatLabelType="FloatLabelType.Always" Type="InputType.Email"></SfTextBox>
        </div>

        <!-- Pole hasło -->
        <div class="form-field">
            <SfTextBox Placeholder="Hasło" @bind-Value="@password" FloatLabelType="FloatLabelType.Always" Type="@(showPassword ? InputType.Text : InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Checkbox do pokazania hasła -->
        <div class="form-field-checkbox">
            <input type="checkbox" id="showPassword" @bind="showPassword" />
            <label for="showPassword">Pokaż hasło</label>
        </div>

        <!-- Przyciski logowania -->
        <div class="form-buttons">
            <SfButton type="submit" IsPrimary="true" OnClick="OnLogInButtonClicked">Zaloguj się</SfButton>
            <SfButton CssClass="e-flat" OnClick="OnForgotPasswordClicked">Zapomniałem hasła</SfButton>
        </div>
    </div>

    <!-- Toast powiadomień -->
    <SfToast ID="toast_default" @ref="ToastObj" Title="Nie udało się zalogować" Content="@ToastContent" Timeout="5000" Icon="e-circle-remove">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>
</div>
