@page "/"

@layout NotLoggedLayout

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications

<PageTitle>Strona logowania</PageTitle>

<div class="col-log-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Email" @bind-Value="@login" FloatLabelType="FloatLabelType.Auto" Type="InputType.Email" @onkeypress="Enter"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Hasło" @bind-Value="@password" FloatLabelType="FloatLabelType.Auto" Type="InputType.Password" @onkeypress="Enter"></SfTextBox>
            </div>
            <div class="login-btn">
                <SfButton type="submit" IsPrimary="true" OnClick="OnLogInButtonClicked">Zaloguj się</SfButton>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <SfButton CssClass="e-flat" IsPrimary="true" OnClick="OnForgotPasswordClicked">Zapomniałem hasła</SfButton>
            </div>
            <div>
                <SfToast ID="toast_default" @ref="ToastObj" Title="Nie udało się zalogowac" Content="@ToastContent" Timeout="5000" Icon="e-circle-remove">
                    <ToastPosition X="Center" Y="Top"></ToastPosition>
                </SfToast>
            </div>
        </div>
    </div>
</div>
