@page "/my-account"

<link rel="stylesheet" href="css/Options.css">

@using Syncfusion.Blazor.Buttons

<div class="container">
    
        <!-- Karta szczegółów użytkownika -->
        <h3 class="header-text">Szczegóły użytkownika</h3>
        <div class="user-details">
            <label>Imię: @User!.FirstName</label>
            <label>Nazwisko: @User!.LastName</label>
            <label>Email: @User!.Email</label>
            <label>Zespół: @User!.TeamName</label>
            <label>Rola: @User!.RoleName</label>
        </div>
        <!-- Przycisk zmiany hasła -->
        <div class="button-container">
            <SfButton IsPrimary="true" OnClick="onChangePasswordClicked">Zmień hasło</SfButton>
        </div>

</div>
