@page "/TeamDetails/{ParamID}"

@using engineering_project_front.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<button @onclick="EditTeam">Edytuj zespół</button>
<button @onclick="DeleteTeam">Usuń zespoł</button>

<h3>Dane zespołu</h3>
<br />
<label>Nazwa: @Team.Name</label>
<br />
<label>Manager: @Team.ManagerName</label>
<br />

